.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
temp/
.phpintel/
.env
.env.test
.env.dev
.env.online
.DS_Store
git
.svn
*.lock
composer.lock
test.php
swagger.json
docker-compose.yml
